.carousel-inner img {
		width: 60%;
		height: 45%;
}

header, section, body, #divLogin{
	background-color:#FFE4E1;
}

#bodyLogin{
	background-image: url(../img/moda.jpg);
	background-position: 50px 50px;
}

#divLogin{
	border: 2px solid black;
}

h1, h2, p, label, li, input, i{
	font-family:Garamond, serif;
}

h1{
	font-weight: bold;
}

.nav-item{
	margin-top:10px;
	margin-bottom:10px;
}

article > div > img, form > div > img {
	width: 30%;
}

.footer {
	position: relative;
}